/* creating my color variables */
:root {
  --white: #F7F7F7;
  --black: #020E26;

  --night: #507526;
  --night-dark: #507526;

  --sunrise: #F87676;
  --sunrise-dark: #A44539;

  --midday: #7AC0FA;
  --midday-dark: #376BBA;

  --overcast: #BDCCD9;
  --overcast-dark: #557185;

  --sunset: #FBAA5F;
  --sunset-dark: #8A500C;

  /* form error colors */
  --error-red: #b8001f;
  --error-pink: #ffccd5;
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}
