/*

AUTHOR: Maija Philip
LAST DATE MODIFIED: 06/10/2022

README:
    Modern but simplistic theme :) Enjoy

    maija.philip@gmail.com for questions,
    comments, or concerns.

    origonal theme colors:
        --white: #F7F7F7;
        --grey: #EDEDED;
        --black: #020E26;
        --theme: #507526;
        --theme-light: #7BB03E;

        form error colors
        --error-red: #b8001f;
        --error-pink: #ffccd5;

REMINDERS:
    for a logo or hamburger menu floating in the upper corners,
    id of logo or floating button
        - asign an background-image for them to apear!!!

    all content in main block
        - has 80px top margin for nav space
        - removed at 800px screen size
    
    to make a link a button, use .button class

    use a .block class
*/

/* import Roboto 400, Roboto 700, and Bebas Neue 400 Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

/* creating my color variables */
:root {
  --white: #F7F7F7;
  --black: #020E26;

  --night: #5355AC;
  --night-dark: #5355AC;

  --sunrise: #F87676;
  --sunrise-dark: #A44539;

  --clear: #7AC0FA;
  --clear-dark: #376BBA;

  --overcast: #BDCCD9;
  --overcast-dark: #557185;

  --sunset: #FBAA5F;
  --sunset-dark: #8A500C;

  /* form error colors */
  --error-red: #b8001f;
  --error-pink: #ffccd5;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* Text formatting */
p, a, figcaption, input, button, div {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: var(--black);
  line-height: 1.75em;
}

a {transition: all 0.25s linear;}
a:hover {color: var(--theme);}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--theme);
  font-size: 3em;
  line-height: 1.75em;
}

h3 {
  text-transform: lowercase;
  font-size: 1.5em;
  margin-bottom: -10px;
  line-height: 1.75em;
}

h2 {
  font-size: 3em;
  color: var(--theme);
  text-transform: lowercase;
  line-height: 1.75em;
}



/* floating buttons stuff (hamburger/close btn/etc) */
.floating-button {
  display: block;
  position: absolute;
  top: 20px; right: 20px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.25s linear;
}

.floating-button:hover {
  transform: rotate(20deg);
}

#logo {
  display: block;
  top: 12px;
  left: 20px;
  width: 60px;
  height: 60px;
  z-index: 0;
}


/* main styles */

main {
  min-height: 100vh;
}


/* form styles */
form, .block {
  width: 70%;
  margin: 10em auto;
}

#heading_question {
  border-bottom: 2px solid var(--theme);
  margin-bottom: 2em;
}

.required {color: var(--theme);}

input {
  background-color: var(--grey);
  border: none;
  border-bottom: 2px solid var(--theme);
  padding: 10px 20px;
}

fieldset {
  margin: 2em auto;
  border: none;
}
fieldset legend {margin-bottom: 0.5em;}
fieldset input {margin: 1.5em 0.5em 0.5em auto;}

fieldset input, fieldset label {
  background-color: var(--grey);
  padding: 0.5em 1em;
  border-radius: 1em;
}


fieldset input:hover, fieldset label:hover {background-color: var(--theme);}

fieldset input:checked, fieldset input:checked ~ label {background-color: (--theme);}


/*
Custom range slider
CODE FROM w3 schools
*/

input[type="range"] {
  -webkit-appearance: none;
  width: 60%;
  height: 1px;
  margin: 1em;
  background: var(--white);
  outline: none;
  border:none;
  border-bottom: 2px solid var(--theme);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background: var(--theme);
  border-radius: 1em;
  cursor: pointer;
  transform: translateY(0.7em);
}

input[type="range"]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  background: var(--theme);
  border-radius: 1em;
  cursor: pointer;
  transform: translateY(0.7em);
}
/* end of custom slider */

button[type="submit"], .button {margin-top: 2em;}

button, .button {
  background-color: var(--theme);
  color: var(--white);
  border: none;
  padding: 0.5em 2em;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
}
button:hover, .button:hover {background-color: var(--theme-light);}

/* footer */
footer {
  margin-top: 100px;
  width: 100vw;
  padding: 20px;
  text-align: center;
  background-color: var(--theme-light);
}

footer a:hover {color: var(--theme);}


/* when screen size is SMALLER than 800px nav and small changes */
@media only screen and (max-width: 800px) {

  main {margin-top: 0px;}

}
